@page
@model Lingzu.Pages.SignUp.DetalleFacturaModel

@{
    ViewData["Title"] = "DetalleFactura";
}

<div class="container mt-5">
    <!-- Detalles del Producto -->
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded shadow">
                <div class="card-header bg-dark text-light text-center">
                    <h3 class="mb-0">
                        <i class="fas fa-shopping-cart"></i> Detalle de la Venta
                    </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Nombre del Producto</label>
                        <input class="form-control" value="@Model.nombreProducto" readonly />
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Precio Unitario del Producto</label>
                        <input class="form-control" value="@Model.precioProducto" readonly />
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Cantidad del Producto</label>
                        <input class="form-control" value="@Model.cantidadProducto" readonly />
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Total</label>
                        <input class="form-control" value="@(Model.precioProducto * Model.cantidadProducto)" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card rounded shadow">             
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Detalles de Facturación -->
                        <div class="form-group">
                            <input class="form-control" type="hidden" value="@Model.IdClienteRegistrado" readonly />
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-success ml-2 w-100">Registrar Venta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}