@page
@model Lingzu.Pages.Ventas.IndexModel

@{
    ViewData["Title"] = "Ventas";
}

<div class="container mt-4 text-center">
    <div class="card rounded">
        <div class="card-header bg-dark text-light">
            <h3 class="mb-0">
                <i class="fas fa-shopping-cart"></i> Ventas
            </h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Venta[0].Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Venta[0].NumeroVenta)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Venta)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroVenta)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.VentaId" class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Editar</a> |
                                <a asp-page="./Details" asp-route-id="@item.VentaId" class="btn btn-sm btn-primary"><i class="fas fa-info-circle"></i> Detalles</a> |
                                <a asp-page="./Delete" asp-route-id="@item.VentaId" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-page="Create" class="btn btn-primary w-100">
                <i class="fas fa-plus"></i> Nuevo
            </a>
        </div>
    </div>
</div>